<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h2><%= "Team Name: #{@b_name}" %></h2>
   <h2><%= "Coach: #{@b_coach}" %></h2>
   <h2><%= "Point Guard: #{@b_pg}" %></h2>
   <h2><%= "Shooting Guard: #{@b_sg}" %></h2>
   <h2><%= "Small Forward: #{@b_sf}" %></h2>
   <h2><%= "Power Forward: #{@b_pf}" %></h2>
   <h2><%= "Center: #{@b_c}" %></h2>
 </body>
</html>
